version: '3.0'
services:
  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
  go:
    build: .
    volumes:
      - ".:/go/src"
    ports:
      - "1323:1323"
      